* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

#root {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Estilização do componente App.js */
.chat-main {
  max-width: 90%;
  margin: auto;
  background-color: white;
  min-height: 80vh;
  width: 100%;
  padding: 20px;
  display: flex;
  padding-left: 0;
}

.botao {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  width: 230px;
  height: 46px;
  line-height: 46px;
  border-radius: 4px;
  display: flex;
  transition: all 0.4s ease-in-out;
}

.botao:hover {
  background-color: #4664ff;
  color: white;
  transform: scale(1.04);
}

.botao i {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  border-right: 1px solid #ebe7fb;
}

.botao span {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
